body {
  color: #bf89d3;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
}

h1 {
  font-weight: bold;
  font-size: 65px;
}

hr {
  margin: 10px 0px;
}

li {
  font-size: 18px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #b480c7;
}

.current-location {
  background: #bf89d3;
  color: #fff;
}

.current-location:hover {
  color: #fff;
  background: #b480c7;
}

.weather-icon {
  width: 235px;
  position: relative;
  bottom: 44px;
}

.weather-temp {
  display: inline;
}

.temperature {
  display: inline;
  font-weight: 400;
  font-size: 165px;
}

.weather-temp .units {
  font-size: 40px;
  font-weight: 200;
  position: relative;
  bottom: 91px;
  color: gray;
}

.weather-temp .units:hover {
  color: gray;
}

.weather-temp .active {
  color: #bf89d3;
  cursor: default;
}

.weather-temp .active:hover {
  text-decoration: none;
}

.humidity-wind {
  font-size: 16px;
  padding: 0;
  margin: 0;
  position: relative;
  top: 57px;
  left: -15px;
  list-style: none;
}

.date-description {
  padding: 0;
  margin: 0;
  list-style: none;
}

.date {
  font-size: 24px;
}

.description {
  font-size: 24px;
}

.forecast-day {
  text-align: left;
  font-size: 20px;
  color: gray;
}

.forecast-temperature {
  font-size: 20px;
  color: gray;
  position: relative;
  text-align: right;
  bottom: 31px;
}

.forecast-icon img {
  width: 60%;
  display: block;
  margin: auto;
  position: relative;
  bottom: 12px;
}

.forecast-layout {
  padding: 10px;
  border: 4px solid rgb(128, 128, 128, 0.2);
  border-radius: 4px;
}

.app {
  padding: 10px;
  border: 4px solid rgb(128, 128, 128, 0.2);
  border-radius: 4px;
}

.open-source-code {
  color: #bf89d3;
  text-decoration: none;
}

.open-source-code:hover {
  color: #b480c7;
  text-decoration: underline;
}

.coder-name {
  color: gray;
}
